In [1]:
# using Pkg
# Pkg.add("GLM")

In [2]:
using DataFrames # to maintain tabular data
using CSV # to read/write csv data
using Plots # for plotting
using GLM  # for linear regression

In [4]:
salary = CSV.read("Data/salary.csv", DataFrame)

46×7 DataFrame
 Row │ Salary  Years_Previous_Experience  Years_Employed  Years_Education  Gen ⋯
     │ Int64   Int64                      Int64           Int64            Str ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │  32782                          1               0                7  Mal ⋯
   2 │  32920                          3              15                9  Fem
   3 │  29548                          6               5                1  Mal
   4 │  39828                          6              18                5  Fem
   5 │  31528                         11               3                3  Mal ⋯
   6 │  38985                          7              18                9  Mal
   7 │  41889                         16              22                7  Mal
   8 │  38791                          4              21                5  Mal
   9 │  28985                          1               0                4  Fem ⋯
  10 │  24749                          2               6                0  Fem
  11 │  35467                          6               3                6  Fem
  ⋮  │   ⋮                 ⋮                    ⋮                ⋮             ⋱
  37 │  34632                          4               5                4  Mal
  38 │  46211                          5              14                6  Fem ⋯
  39 │  51698                          6              18                6  Mal
  40 │  69246                          3              22               10  Mal
  41 │  48695                         19               6                8  Mal
  42 │  34987                          6               9                2  Fem ⋯
  43 │  35631                          4               6                4  Mal
  44 │  39743                          6               9                5  Fem
  45 │  41255                          4               9                6  Mal
  46 │  26452                          3               1                2  Fem ⋯
                                                   3 columns and 25 rows omitted

In [5]:
names(salary)

7-element Vector{String}:
 "Salary"
 "Years_Previous_Experience"
 "Years_Employed"
 "Years_Education"
 "Gender"
 "Department"
 "Number_Supervised"

In [6]:
# lm is so powerful, it will take care of strings and categorical variables
ols = lm(@formula(Salary ~ Years_Previous_Experience + Years_Employed + Years_Education + Gender + Department + Number_Supervised), salary)

StatsModels.TableRegressionModel{LinearModel{GLM.LmResp{Vector{Float64}}, GLM.DensePredChol{Float64, LinearAlgebra.CholeskyPivoted{Float64, Matrix{Float64}, Vector{Int64}}}}, Matrix{Float64}}

Salary ~ 1 + Years_Previous_Experience + Years_Employed + Years_Education + Gender + Department + Number_Supervised

Coefficients:
─────────────────────────────────────────────────────────────────────────────────────────
                                Coef.  Std. Error      t  Pr(>|t|)   Lower 95%  Upper 95%
─────────────────────────────────────────────────────────────────────────────────────────
(Intercept)                17272.9      2304.27     7.50    <1e-08  12604.1     21941.8
Years_Previous_Experience    -72.8033    198.395   -0.37    0.7157   -474.789     329.183
Years_Employed               709.455     120.959    5.87    <1e-06    464.369     954.54
Years_Education             1544.52      338.221    4.57    <1e-04    859.217    2229.82
Gender: Male                2040.25     1448.97     1.41    0.1675   -895.648    4976.16
Department: B               8455.63     2288.73     3.69    0.0007   3818.22    13093.0
Department: C               5049.08     2333.0      2.16    0.0370    321.971    9776.18
Department: D               8096.05     1830.64     4.42    <1e-04   4386.81    11805.3
Number_Supervised            130.167      81.6784   1.59    0.1195    -35.3292    295.663
─────────────────────────────────────────────────────────────────────────────────────────

In [8]:
# prediction
predict(ols, salary)

46-element Vector{Union{Missing, Float64}}:
 30052.021111225487
 42117.68385498137
 23968.16510066336
 37979.72961769922
 26055.278202928122
 46125.25528994341
 45479.14024311426
 42814.62133938166
 23898.878338491297
 21514.226901571797
 37077.72250093465
 38578.54940899076
 32431.865164305236
     ⋮
 63664.38807974765
 34781.487960788276
 36843.373562418856
 44855.279085186245
 49139.8806191977
 64101.5255909342
 47845.52830253827
 34796.79433848755
 37813.161848266674
 39170.01681361795
 43290.89672290613
 28949.067112338606

In [11]:
# prediction
predict(ols, salary[:,2:ncol(salary)])

46-element Vector{Union{Missing, Float64}}:
 30052.021111225487
 42117.68385498137
 23968.16510066336
 37979.72961769922
 26055.278202928122
 46125.25528994341
 45479.14024311426
 42814.62133938166
 23898.878338491297
 21514.226901571797
 37077.72250093465
 38578.54940899076
 32431.865164305236
     ⋮
 63664.38807974765
 34781.487960788276
 36843.373562418856
 44855.279085186245
 49139.8806191977
 64101.5255909342
 47845.52830253827
 34796.79433848755
 37813.161848266674
 39170.01681361795
 43290.89672290613
 28949.067112338606