In [1]:
using DataFrames

In [3]:
df = DataFrame(rand(5,4), :auto)

5×4 DataFrame
 Row │ x1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [4]:
# rename column names
rename(df, :x1 => :c1)

5×4 DataFrame
 Row │ c1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [5]:
df

5×4 DataFrame
 Row │ x1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [7]:
# change the actual column name in df | very similar to inplace=True in python
rename!(df, :x1 => :c1)

5×4 DataFrame
 Row │ c1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [8]:
df

5×4 DataFrame
 Row │ c1         x2         x3        x4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [9]:
# rename multiple columns
rename(df, [:c1, :c2, :c3, :c4])

5×4 DataFrame
 Row │ c1         c2         c3        c4
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [10]:
rename(df, string.('a':'d'))

5×4 DataFrame
 Row │ a          b          c         d
     │ Float64    Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812
   2 │ 0.481096   0.703756   0.210337  0.87815
   3 │ 0.800746   0.0829404  0.203084  0.500216
   4 │ 0.0226609  0.302161   0.327226  0.96081
   5 │ 0.551904   0.923624   0.807854  0.832743

In [11]:
df2 = DataFrame(rand(5,4), :auto)

5×4 DataFrame
 Row │ x1        x2         x3        x4
     │ Float64   Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.378514  0.657915   0.769271  0.0420489
   2 │ 0.346986  0.993005   0.78662   0.90833
   3 │ 0.289355  0.243077   0.207022  0.720437
   4 │ 0.464772  0.0345357  0.300769  0.123455
   5 │ 0.464133  0.160378   0.44396   0.252177

In [13]:
# concat
hcat(df, df2, makeunique=true) # since column names are same we need add makeunique=true

5×8 DataFrame
 Row │ c1         x2         x3        x4        x1        x2_1       x3_1     ⋯
     │ Float64    Float64    Float64   Float64   Float64   Float64    Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.584718   0.281245   0.966474  0.358812  0.378514  0.657915   0.769271 ⋯
   2 │ 0.481096   0.703756   0.210337  0.87815   0.346986  0.993005   0.78662
   3 │ 0.800746   0.0829404  0.203084  0.500216  0.289355  0.243077   0.207022
   4 │ 0.0226609  0.302161   0.327226  0.96081   0.464772  0.0345357  0.300769
   5 │ 0.551904   0.923624   0.807854  0.832743  0.464133  0.160378   0.44396  ⋯
                                                                1 column omitted

In [14]:
df1 = DataFrame(rand(5,4), :auto)
df2 = DataFrame(rand(5,4), :auto)

5×4 DataFrame
 Row │ x1        x2         x3        x4
     │ Float64   Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.514116  0.13736    0.576942  0.438443
   2 │ 0.678993  0.459289   0.131994  0.0384278
   3 │ 0.167469  0.0629602  0.941787  0.842492
   4 │ 0.800786  0.880251   0.563756  0.74347
   5 │ 0.323841  0.395436   0.893221  0.504974

In [16]:
# if both df have same column names then this will work perfectly
hcat(df1, df2, makeunique=true)

5×8 DataFrame
 Row │ x1        x2         x3        x4         x1_1      x2_1       x3_1     ⋯
     │ Float64   Float64    Float64   Float64    Float64   Float64    Float64  ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │ 0.554671  0.0713762  0.958493  0.332333   0.514116  0.13736    0.576942 ⋯
   2 │ 0.966095  0.117833   0.814359  0.0909485  0.678993  0.459289   0.131994
   3 │ 0.961292  0.463992   0.124803  0.49366    0.167469  0.0629602  0.941787
   4 │ 0.818522  0.751793   0.293685  0.322744   0.800786  0.880251   0.563756
   5 │ 0.331166  0.219655   0.424902  0.535013   0.323841  0.395436   0.893221 ⋯
                                                                1 column omitted

In [17]:
vcat(df1, df2)

10×4 DataFrame
 Row │ x1        x2         x3        x4
     │ Float64   Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.554671  0.0713762  0.958493  0.332333
   2 │ 0.966095  0.117833   0.814359  0.0909485
   3 │ 0.961292  0.463992   0.124803  0.49366
   4 │ 0.818522  0.751793   0.293685  0.322744
   5 │ 0.331166  0.219655   0.424902  0.535013
   6 │ 0.514116  0.13736    0.576942  0.438443
   7 │ 0.678993  0.459289   0.131994  0.0384278
   8 │ 0.167469  0.0629602  0.941787  0.842492
   9 │ 0.800786  0.880251   0.563756  0.74347
  10 │ 0.323841  0.395436   0.893221  0.504974

In [20]:
# add one more column
[df1 DataFrame(A=[1,2,3, 4,5])]

5×5 DataFrame
 Row │ x1        x2         x3        x4         A
     │ Float64   Float64    Float64   Float64    Int64
─────┼─────────────────────────────────────────────────
   1 │ 0.554671  0.0713762  0.958493  0.332333       1
   2 │ 0.966095  0.117833   0.814359  0.0909485      2
   3 │ 0.961292  0.463992   0.124803  0.49366        3
   4 │ 0.818522  0.751793   0.293685  0.322744       4
   5 │ 0.331166  0.219655   0.424902  0.535013       5

In [22]:
# you can vcat like this
[df1 
df2]

10×4 DataFrame
 Row │ x1        x2         x3        x4
     │ Float64   Float64    Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.554671  0.0713762  0.958493  0.332333
   2 │ 0.966095  0.117833   0.814359  0.0909485
   3 │ 0.961292  0.463992   0.124803  0.49366
   4 │ 0.818522  0.751793   0.293685  0.322744
   5 │ 0.331166  0.219655   0.424902  0.535013
   6 │ 0.514116  0.13736    0.576942  0.438443
   7 │ 0.678993  0.459289   0.131994  0.0384278
   8 │ 0.167469  0.0629602  0.941787  0.842492
   9 │ 0.800786  0.880251   0.563756  0.74347
  10 │ 0.323841  0.395436   0.893221  0.504974

In [27]:
# insert columns into a dataframe
insertcols!(df1, 3, :newcol=>1:5)

5×5 DataFrame
 Row │ x1        x2         newcol  x3        x4
     │ Float64   Float64    Int64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.554671  0.0713762       1  0.958493  0.332333
   2 │ 0.966095  0.117833        2  0.814359  0.0909485
   3 │ 0.961292  0.463992        3  0.124803  0.49366
   4 │ 0.818522  0.751793        4  0.293685  0.322744
   5 │ 0.331166  0.219655        5  0.424902  0.535013

In [28]:
df1[:, [:x2, :x3]]

5×2 DataFrame
 Row │ x2         x3
     │ Float64    Float64
─────┼─────────────────────
   1 │ 0.0713762  0.958493
   2 │ 0.117833   0.814359
   3 │ 0.463992   0.124803
   4 │ 0.751793   0.293685
   5 │ 0.219655   0.424902

In [30]:
# take a copy of the dataframe
df1_copy = copy(df1) # df1.copy() in python

5×5 DataFrame
 Row │ x1        x2         newcol  x3        x4
     │ Float64   Float64    Int64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.554671  0.0713762       1  0.958493  0.332333
   2 │ 0.966095  0.117833        2  0.814359  0.0909485
   3 │ 0.961292  0.463992        3  0.124803  0.49366
   4 │ 0.818522  0.751793        4  0.293685  0.322744
   5 │ 0.331166  0.219655        5  0.424902  0.535013

In [31]:
# sort values in a dataframe
sort(df1, :x1)

5×5 DataFrame
 Row │ x1        x2         newcol  x3        x4
     │ Float64   Float64    Int64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.331166  0.219655        5  0.424902  0.535013
   2 │ 0.554671  0.0713762       1  0.958493  0.332333
   3 │ 0.818522  0.751793        4  0.293685  0.322744
   4 │ 0.961292  0.463992        3  0.124803  0.49366
   5 │ 0.966095  0.117833        2  0.814359  0.0909485

In [34]:
# delete rows
# deleterows(df1, 4) # this is depricated
# delete 4th row
deleteat!(df1, 4)

4×5 DataFrame
 Row │ x1        x2         newcol  x3        x4
     │ Float64   Float64    Int64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.554671  0.0713762       1  0.958493  0.332333
   2 │ 0.966095  0.117833        2  0.814359  0.0909485
   3 │ 0.961292  0.463992        3  0.124803  0.49366
   4 │ 0.331166  0.219655        5  0.424902  0.535013

In [35]:
# filter rows
filter(r -> r.x1 > 0.5 ,df1 ) # df1[df1["x1"]>0.5] in python

3×5 DataFrame
 Row │ x1        x2         newcol  x3        x4
     │ Float64   Float64    Int64   Float64   Float64
─────┼──────────────────────────────────────────────────
   1 │ 0.554671  0.0713762       1  0.958493  0.332333
   2 │ 0.966095  0.117833        2  0.814359  0.0909485
   3 │ 0.961292  0.463992        3  0.124803  0.49366