In [3]:
# using Pkg;
# Pkg.add("DataFrames")

In [2]:
using DataFrames

In [4]:
# create empty dataframe
DataFrame()

0×0 DataFrame

In [5]:
# create dataframe with values
DataFrame(A = 1:4, B = rand(4))

4×2 DataFrame
 Row │ A      B
     │ Int64  Float64
─────┼─────────────────
   1 │     1  0.723607
   2 │     2  0.420459
   3 │     3  0.336732
   4 │     4  0.398723

In [8]:
# create dataframe with random values
DataFrame(rand(10,3), :auto) # you need to add auto symbol to get column names

10×3 DataFrame
 Row │ x1        x2         x3
     │ Float64   Float64    Float64
─────┼───────────────────────────────
   1 │ 0.510983  0.0730337  0.916108
   2 │ 0.650019  0.356323   0.86858
   3 │ 0.300311  0.159365   0.477552
   4 │ 0.983101  0.591755   0.940501
   5 │ 0.041861  0.987619   0.542069
   6 │ 0.658837  0.179761   0.722912
   7 │ 0.350912  0.746142   0.588133
   8 │ 0.147208  0.685132   0.230634
   9 │ 0.970108  0.737971   0.73098
  10 │ 0.136605  0.830242   0.50866

In [9]:
df = DataFrame(rand(10,3), :auto)

10×3 DataFrame
 Row │ x1         x2        x3
     │ Float64    Float64   Float64
─────┼───────────────────────────────
   1 │ 0.443979   0.322834  0.958047
   2 │ 0.550436   0.729929  0.69731
   3 │ 0.0319706  0.875565  0.64019
   4 │ 0.021807   0.279927  0.917247
   5 │ 0.455689   0.706896  0.499138
   6 │ 0.47139    0.128089  0.75538
   7 │ 0.590305   0.933435  0.779239
   8 │ 0.569675   0.436324  0.249575
   9 │ 0.583136   0.978175  0.488651
  10 │ 0.659895   0.195194  0.234333

In [10]:
# get matrix from DataFrame
Matrix(df)

10×3 Matrix{Float64}:
 0.443979   0.322834  0.958047
 0.550436   0.729929  0.69731
 0.0319706  0.875565  0.64019
 0.021807   0.279927  0.917247
 0.455689   0.706896  0.499138
 0.47139    0.128089  0.75538
 0.590305   0.933435  0.779239
 0.569675   0.436324  0.249575
 0.583136   0.978175  0.488651
 0.659895   0.195194  0.234333

In [11]:
# we can also other package calles tables for handling tabular data

In [13]:
# Pkg.add("Tables")

In [14]:
using Tables

In [16]:
tb = Tables.columntable(df)

(x1 = [0.4439787956858683, 0.5504361085551274, 0.03197060244421046, 0.021806956519254794, 0.4556894248121939, 0.4713895390643338, 0.5903046430592885, 0.5696745844034141, 0.5831357851601934, 0.6598945845298188], x2 = [0.32283425640614527, 0.7299289652663414, 0.8755653562856768, 0.2799273255532284, 0.7068961594848681, 0.12808922341743223, 0.9334347806418041, 0.43632430510800213, 0.9781747488074417, 0.19519368785340585], x3 = [0.958047446476785, 0.6973101338553892, 0.6401898256521407, 0.9172465052481175, 0.4991378549536526, 0.7553795395122622, 0.7792387096214752, 0.2495747918398049, 0.48865078990218047, 0.23433334326061517])

In [17]:
typeof(tb)

NamedTuple{(:x1, :x2, :x3), Tuple{Vector{Float64}, Vector{Float64}, Vector{Float64}}}

In [18]:
tb.x1 # get x1 column

10-element Vector{Float64}:
 0.4439787956858683
 0.5504361085551274
 0.03197060244421046
 0.021806956519254794
 0.4556894248121939
 0.4713895390643338
 0.5903046430592885
 0.5696745844034141
 0.5831357851601934
 0.6598945845298188

In [19]:
tb.x2 # get x2 column

10-element Vector{Float64}:
 0.32283425640614527
 0.7299289652663414
 0.8755653562856768
 0.2799273255532284
 0.7068961594848681
 0.12808922341743223
 0.9334347806418041
 0.43632430510800213
 0.9781747488074417
 0.19519368785340585

In [20]:
# we will use dataframes for our tasks

In [21]:
names(df) # get column names

3-element Vector{String}:
 "x1"
 "x2"
 "x3"

In [22]:
size(df) # get dimensions of the dataframe

(10, 3)

In [23]:
size(df)[1] # get number of rows

10

In [24]:
size(df)[2] # get number of columns

3

In [25]:
nrow(df) # will give number of rows

10

In [26]:
ncol(df) # will give number of columnns

3

In [28]:
describe(df) # similar to describe in python

3×7 DataFrame
 Row │ variable  mean      min       median    max       nmissing  eltype
     │ Symbol    Float64   Float64   Float64   Float64   Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ x1        0.437828  0.021807  0.510913  0.659895         0  Float64
   2 │ x2        0.558637  0.128089  0.57161   0.978175         0  Float64
   3 │ x3        0.621911  0.234333  0.66875   0.958047         0  Float64

In [29]:
describe(df, cols=1:2) # calculate only for few columns

2×7 DataFrame
 Row │ variable  mean      min       median    max       nmissing  eltype
     │ Symbol    Float64   Float64   Float64   Float64   Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ x1        0.437828  0.021807  0.510913  0.659895         0  Float64
   2 │ x2        0.558637  0.128089  0.57161   0.978175         0  Float64

In [30]:
eltype.(eachcol(df)) # get datatype of each column similar to dtypes in python

3-element Vector{DataType}:
 Float64
 Float64
 Float64

In [32]:
first(df, 5) # head(df) in python

5×3 DataFrame
 Row │ x1         x2        x3
     │ Float64    Float64   Float64
─────┼───────────────────────────────
   1 │ 0.443979   0.322834  0.958047
   2 │ 0.550436   0.729929  0.69731
   3 │ 0.0319706  0.875565  0.64019
   4 │ 0.021807   0.279927  0.917247
   5 │ 0.455689   0.706896  0.499138

In [33]:
last(df, 5) # tail(df) in python

5×3 DataFrame
 Row │ x1        x2        x3
     │ Float64   Float64   Float64
─────┼──────────────────────────────
   1 │ 0.47139   0.128089  0.75538
   2 │ 0.590305  0.933435  0.779239
   3 │ 0.569675  0.436324  0.249575
   4 │ 0.583136  0.978175  0.488651
   5 │ 0.659895  0.195194  0.234333

In [34]:
# select some data
df[1:7,["x1","x2"]] # this is very similar to python

7×2 DataFrame
 Row │ x1         x2
     │ Float64    Float64
─────┼─────────────────────
   1 │ 0.443979   0.322834
   2 │ 0.550436   0.729929
   3 │ 0.0319706  0.875565
   4 │ 0.021807   0.279927
   5 │ 0.455689   0.706896
   6 │ 0.47139    0.128089
   7 │ 0.590305   0.933435

In [44]:
# or you can do the same as below
df[1:7, 1:2]

7×2 DataFrame
 Row │ x1         x2
     │ Float64    Float64
─────┼─────────────────────
   1 │ 0.443979   0.322834
   2 │ 0.550436   0.729929
   3 │ 0.0319706  0.875565
   4 │ 0.021807   0.279927
   5 │ 0.455689   0.706896
   6 │ 0.47139    0.128089
   7 │ 0.590305   0.933435

In [48]:
# select few columns
df[:, Between(:x1, :x2)]

10×2 DataFrame
 Row │ x1         x2
     │ Float64    Float64
─────┼─────────────────────
   1 │ 0.443979   0.322834
   2 │ 0.550436   0.729929
   3 │ 0.0319706  0.875565
   4 │ 0.021807   0.279927
   5 │ 0.455689   0.706896
   6 │ 0.47139    0.128089
   7 │ 0.590305   0.933435
   8 │ 0.569675   0.436324
   9 │ 0.583136   0.978175
  10 │ 0.659895   0.195194

In [46]:
# get all the columns
df[1:7, :]

7×3 DataFrame
 Row │ x1         x2        x3
     │ Float64    Float64   Float64
─────┼───────────────────────────────
   1 │ 0.443979   0.322834  0.958047
   2 │ 0.550436   0.729929  0.69731
   3 │ 0.0319706  0.875565  0.64019
   4 │ 0.021807   0.279927  0.917247
   5 │ 0.455689   0.706896  0.499138
   6 │ 0.47139    0.128089  0.75538
   7 │ 0.590305   0.933435  0.779239

In [47]:
# get all rows
df[:, 1:2]

10×2 DataFrame
 Row │ x1         x2
     │ Float64    Float64
─────┼─────────────────────
   1 │ 0.443979   0.322834
   2 │ 0.550436   0.729929
   3 │ 0.0319706  0.875565
   4 │ 0.021807   0.279927
   5 │ 0.455689   0.706896
   6 │ 0.47139    0.128089
   7 │ 0.590305   0.933435
   8 │ 0.569675   0.436324
   9 │ 0.583136   0.978175
  10 │ 0.659895   0.195194

In [49]:
# add one more column
df.x4 = rand(10)

10-element Vector{Float64}:
 0.08880038513614985
 0.3628806286067817
 0.9043367080978398
 0.8869152625118696
 0.5029910073812068
 0.05345172821692601
 0.08947844999139498
 0.8128514239798724
 0.041042043306474096
 0.701960703017927

In [50]:
df

10×4 DataFrame
 Row │ x1         x2        x3        x4
     │ Float64    Float64   Float64   Float64
─────┼──────────────────────────────────────────
   1 │ 0.443979   0.322834  0.958047  0.0888004
   2 │ 0.550436   0.729929  0.69731   0.362881
   3 │ 0.0319706  0.875565  0.64019   0.904337
   4 │ 0.021807   0.279927  0.917247  0.886915
   5 │ 0.455689   0.706896  0.499138  0.502991
   6 │ 0.47139    0.128089  0.75538   0.0534517
   7 │ 0.590305   0.933435  0.779239  0.0894784
   8 │ 0.569675   0.436324  0.249575  0.812851
   9 │ 0.583136   0.978175  0.488651  0.041042
  10 │ 0.659895   0.195194  0.234333  0.701961