In [1]:
using DataFrames

In [2]:
df = DataFrame(A=[true, false, true], B=[23, 45, 67], C=['a','b','c'])

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  Char
─────┼────────────────────
   1 │  true     23  a
   2 │ false     45  b
   3 │  true     67  c

In [3]:
# write dataframe to CSV

In [8]:
# using Pkg
# Pkg.add("CSV")

In [6]:
using CSV

In [7]:
CSV.write("df.csv", df)

"df.csv"

In [16]:
# Read data from csv
new_df = CSV.read("df.csv", DataFrame) # it is mandatory to pass the DataFrame

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  String1
─────┼───────────────────────
   1 │  true     23  a
   2 │ false     45  b
   3 │  true     67  c

In [19]:
# Store data in binary format
# Pkg.add("Serialization")

In [18]:
using Serialization

In [20]:
# write data as binary data
open("df.bin","w") do io
    serialize(io, df)
end

In [21]:
# read binary data
open(deserialize, "df.bin")

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  Char
─────┼────────────────────
   1 │  true     23  a
   2 │ false     45  b
   3 │  true     67  c

In [22]:
# write data as json

In [26]:
# Pkg.add("JSONTables")

In [24]:
using JSONTables

In [25]:
# write json data
open(io -> arraytable(io, df), "df.json","w")

80

In [27]:
# read json data
open(jsontable, "df.json") |> DataFrame

3×3 DataFrame
 Row │ A      B      C
     │ Bool   Int64  String
─────┼──────────────────────
   1 │  true     23  a
   2 │ false     45  b
   3 │  true     67  c