# compound expressions

In [8]:
# last expression will returned to the variable
volume = begin
    a = 12
    b = 9
    a*b
end

108

In [10]:
volume

108

In [11]:
area = begin
    a = 12
    b = 9
    c = 5
    2 * (a*b + a*c + b*c)
end

426

In [12]:
area

426

### Sub expressions

In [13]:
volume = (a=12; b=9; c=5; a*b*c)

540

In [14]:
volume

540

In [15]:
a # we can use variables outside

12

In [16]:
b

9

# If condition

In [2]:
x = 26

if x>24
    println("$x > 24")
end

26 > 24

In [5]:
x = 26

if x>=24
    println("$x > 24")
elseif x < 24
        println("$x < 24")
else
    print("Oh I am in else")
end

26 > 24

In [7]:
# nested if
x = 15

if x > 10
    if x < 20
        println("$x is in between 10 and 20")
    end
elseif x ≤ 10
    println("$x is less than 10")
end

15 is in between 10 and 20

In [24]:
println("Enter your score: ")
score = readline();
score = parse(Int64, score)

if 80 ≤ score ≤ 100
    print("Your grade is A")
elseif 60 ≤ score ≤ 80
    print("Your grade is B")
else
    println("You failed!")
end

Enter your score:

stdin>  55

You failed!

In [34]:
# single line of conditions (similar to python)
score = 70
score > 50 ? "passed" : "failed"

"passed"

In [35]:
# nested if
score > 85 ? "Grade A" : score > 60 ? "Grade B" : "Grade C"

"Grade B"

In [38]:
# short circuit evaluation
# and condition
x = 8
y = 3

if x>5 && y > 10
    print("Oh good")
else
    print("Not so good")
end

Not so good

In [39]:
# short circuit evaluation
# or condition
x = 8
y = 3

if x>5 || y > 10
    print("Oh good")
else
    print("Not so good")
end

Oh good

In [3]:
print("Enter your age: ")
age = readline()
# age = parse(Int64, age)

# give a condition to enter only integers
(tryparse(Int, age) === nothing) && (println("Please enter numeric input"); exit())
(tryparse(Int, age) === nothing) || (age = parse(Int64, age))

(0 < age < 100) && (println("Your age is $age."))
(0 < age < 100) || (println("Please enter number between 0 and 100!"))

Enter your age:

stdin>  234

Please enter number between 0 and 100!

# looping statements

In [17]:
# while loop

x = 10
while x>=10
    println(x)
    x -= x
end

10

In [19]:
# while loop

x = 10
while x ≥ 10
    println(x)
    x = x+1
    if x ≥ 20
        break
    end
end

10
11
12
13
14
15
16
17
18
19

In [21]:
# while loop, break and continue

x = 10
while x ≥ 10
    x = x+1
    
    if x == 15
        continue
    end
    
    if x ≥ 20
        break
    end
    
    println(x)
end

11
12
13
14
16
17
18
19

# for loop

In [27]:
for i in 1:10
    println(i)
end

1
2
3
4
5
6
7
8
9
10

In [4]:
# instead of in operator you can also use = sign
for i = 1:10
    println(i)
end

1
2
3
4
5
6
7
8
9
10

In [5]:
# instead of in operator you can also use in sign
for i ∈ 1:10
    println(i)
end

1
2
3
4
5
6
7
8
9
10

In [29]:
for i in [1 2 3 4]
    println(i)
end

1
2
3
4

In [30]:
for i in [1 2 3; 4 5 6]
    println(i)
end

1
4
2
5
3
6

In [7]:
arr1 = [1 2 3 4]
arr2 = [5 6 7 8]

for i in range(1,length(arr1))
    println(arr1[i], " " ,arr2[i])
end

1 5
2 6
3 7
4 8

In [9]:
# you can also use enumerate like in python
for (index, value) ∈ enumerate(arr1)
    println("In index $index the value is $value")
end

In index 1 the value is 1
In index 2 the value is 2
In index 3 the value is 3
In index 4 the value is 4

In [10]:
# nested for loops
mat = rand(15:44, (3,2))

3×2 Matrix{Int64}:
 44  35
 34  38
 24  44

In [21]:
for row in 1:size(mat,1)
    for col in 1:size(mat,2)
        print(mat[row, col])
        print(" ")
    end
    println(" ")
end

44 35
34 38
24 44

In [35]:
# we can do the same in below way
for row in 1:size(mat,1), col in 1:size(mat,2)
    print(mat[row, col])
    print(" ")
    if col == size(mat,2)
        println()
    end
end

44 35
34 38
24 44

In [30]:
for row in 1:6
    for col in 1:4
        print((row, col))
    end
    println()
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [34]:
# we can do the same 
for row in 1:6, col in 1:4
    print((row, col))
    if col == 4
        println()
    end
end

(1, 1)(1, 2)(1, 3)(1, 4)
(2, 1)(2, 2)(2, 3)(2, 4)
(3, 1)(3, 2)(3, 3)(3, 4)
(4, 1)(4, 2)(4, 3)(4, 4)
(5, 1)(5, 2)(5, 3)(5, 4)
(6, 1)(6, 2)(6, 3)(6, 4)

In [39]:
# we can also use zip here, same as python
names = ["Albert","Marie","Isaac"]
surnames = ["Einstien", "Curie", "Newton"]
dob = [1879, 867, 1643]

for (name, surnames, dob) ∈ zip(names, surnames, dob)
    println("$name $surnames was born in $dob")
end

Albert Einstien was born in 1879
Marie Curie was born in 867
Isaac Newton was born in 1643

In [41]:
# you can also iterate key values of dict
d = Dict("a"=>10, "b"=>12, "c"=>13)

for (key, value) in d
    println(key, "=>" ,value)
end

c=>13
b=>12
a=>10

In [43]:
# you can also iterate items
for item in d
    println(item)
end

"c" => 13
"b" => 12
"a" => 10

In [45]:
for item in d
    println("Key is $(item.first), Value is $(item.second)")
end

Key is c, Value is 13
Key is b, Value is 12
Key is a, Value is 10

In [49]:
# interate strings
str = "Hemanth"
for s in str
    print("$s|")
end

H|e|m|a|n|t|h|

In [50]:
# create large array
arr = rand(-1_000_000:1_000_000, 10)

10-element Vector{Int64}:
  621883
  540752
  427493
  124015
 -102043
 -274541
  578373
 -143167
 -281767
 -820503

In [51]:
maxnum = typemin(Int64)

-9223372036854775808

In [52]:
for num ∈ arr
    if num > maxnum
        maxnum = num
    end
end
println(maxnum)

621883

# comprehensions

In [ ]:
# same as in python

In [53]:
arr = [5, 8, 12, 17,24,42]
arr2 = [i^2 for i ∈ arr]

6-element Vector{Int64}:
   25
   64
  144
  289
  576
 1764

In [57]:
[(x^2, y^2) for x ∈ 1:4, y ∈ 1:3]

4×3 Matrix{Tuple{Int64, Int64}}:
 (1, 1)   (1, 4)   (1, 9)
 (4, 1)   (4, 4)   (4, 9)
 (9, 1)   (9, 4)   (9, 9)
 (16, 1)  (16, 4)  (16, 9)

In [58]:
[x^2 for x ∈ arr if iseven(x)]

4-element Vector{Int64}:
   64
  144
  576
 1764

In [59]:
sum(x^2 for x∈ 1:100)

338350

In [61]:
# calculate time taken for loop
s = 0
@time for i = 1:1_000_000_000 s+= i^2 end

125.186775 seconds (2.00 G allocations: 29.802 GiB, 5.74% gc time)

In [62]:
@time sum([i^2 for i = 1:1_000_000_000])

  6.224164 seconds (31.61 k allocations: 7.453 GiB, 0.13% gc time, 1.69% compilation time)

4338615082255021824

In [63]:
@time sum(i^2 for i = 1:1_000_000_000)

  0.072626 seconds (54.05 k allocations: 3.621 MiB, 99.53% compilation time)

4338615082255021824

In [71]:
# get square of a number if it is even else get cube of the number
arr = [5, 8, 12, 17, 24, 42]

[iseven(i) ? i^2 : i^3 for i in arr ]

6-element Vector{Int64}:
  125
   64
  144
 4913
  576
 1764